.main-box{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-box .left{
  width: 836px;
}
.link_box img{
  width: 16px;
height: 16px;
display: inline-block;
margin-top: 12px;
}
.nav_link {
width: 70px;
position: relative;
margin-right: 235px;
}
.link_box {
width: 70px;
height: 40px;
line-height: 40px;
display: flex;
justify-content: space-between;
}
.nav_link:hover .navtitle {
display: block;
}
.membership_img {
	width: 40px;
	height: 40px;
	left:0;
	top:150px;
	position: fixed;
	z-index: 1000;
	background: url(../img/Navigation.png) no-repeat center center;
} 
.membership_img:hover .member_services {
	display: block;
}
.member_services {
	z-index: 100;
	margin-top: 70px;
	top: 58px;
	left: 0;
	display: none;
	width: 140px;
	height: 337px;
	position: fixed;
	border-radius: 0 8px 8px 0;
	box-shadow: 1px 2px 2px #f4f4f4;
	background: #FFFFFF;
}

.member_services h3 {
	margin: 30px 0 35px 0;
	text-align: center;
	color: #39549D;
}
.member_services ul li a .member_lists {
	width: 100px;
	height: 20px;
	margin: 0 auto;
	margin-bottom: 30px;
	border-bottom: 1px solid #FBFBFB;
	padding-bottom: 5px;
	display: flex;
	justify-content: center;
}

.member_services ul li a .member_lists img {
	width: 18px;
	height: 18px;
	margin-right: 3px;
}

.member_btn button {
	width: 110px;
	height: 30px;
	margin: 0 auto;
	background-color: #39549D;
	margin-bottom: 10px;
	color: #FFFFFF;
	border-radius: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

.member_btn div font a {
	color: #FFFFFF;
}
/* ......... */

.navtitle {
width: 100px;
  height: 200px;
  text-align: center;
  position: absolute;
  left: -4%;
  z-index: 100;
  background-color: white;
  border: 1px solid rgb(38, 38, 38);
  display: none;
}
.navtitle ul li{
padding: 3px 0;
}
.navtitle > ul > li > a{
width: 100%;
height: 22px;
display: inline-block;
color: rgb(38, 38, 38);
}
.navtitle > ul > li > a:hover{
background-color: rgb(38, 38, 38);
color: white;
}
.main-box .right{
  width: 344px;
  margin-top: 40px;
}
.hot-case{
  width: 312px;
  display: block;
  height: 65px;
  margin: 22px auto;
  cursor: pointer;
}
.hot-case p{
  font-size: 16px;
  color: #333333;
}
.hot-case .lines{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hot-case .line{
  font-size: 12px;
  width: calc(100% - 5em);
  height: 0;
  border-bottom: 1px dashed #cccccc;
}
.hot-case span{
  font-size: 12px;
  color: #999999;
}
.article-top{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #DDDDDD;
}
.article-top h3{
  font-size: 24px;
  text-align: center;
}
.article-top div{
  color: #999999;
  font-size: 14px;
  width: 230px;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}
.content{
  font-size: 16px;
  padding-top: 21px;
  padding-bottom: 70px;
}
/* 替换为富文本的时候这里注释掉 */
.content p{
  margin-bottom: 30px;
}
.content img{
  width: 100%;
  margin-bottom: 30px;
}
.student-info{
  width: 817px;
  border: 1px dashed #38549D;
  /* box-shadow: 0px 0px 4px 0px #64656B; */
  box-sizing: border-box;
  padding: 8px;
  background-color: #fff;
  height: 135px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.student-info .box{
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(242,153,74,0.2);
  box-shadow: 0px 0px 4px 0px rgba(100,101,107,0.25);
  display: flex;
  justify-content: space-around;
}
.student-info .box .left{
  width: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.student-info .box .left p{
  font-size: 20px;
  color: #000;
}
.student-info .box .left span{
  height: 20px;
  display: flex;
  width: 100%;
}
.student-info .box .left i{
  width: 57px;
  height: 100%;
  background-color: #E33A05;
  color: #fff;
  text-align: center;
}
.student-info .box .left em{
  background: #D6D4D3;
  color: red;
  font-size: 14px;
  width: 123px;
  text-align: center;
}
.student-info .box .right{
  font-size: 18px;
  color: #666666;
  width: 427px;
}
.student-info .box .right span{
  color: #333333;
}
.org-logo{
  width: 342px;
  height: 290px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #EEEEEE;
}
.org-logo img{
  width: 134px;
  height: 134px;
  border-radius: 50%;
  border: 1px solid #DDDDDD;
  margin-top: 40px;
}
.org-logo p{
  font-size: 18px;
  color: #000000;
  margin-top: 10px;
}
.org-logo .auth{
  width: 102.5px;
  height: 31.5px;
  background-image: url(../icon/whitelist.png);
  background-size: contain;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  line-height: 31.5px;
  text-indent: 32px;
  margin-top: 10px;
}